@model DondeLa_tuty.Models.Category

@{
    ViewBag.Title = "Browse";
}

<h2>Categoria:@Model.Nombre</h2>
<div class="row product-container">
<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
    <div div class="thumbnail product-item" style="height:250px">
        @foreach (var item in Model.Items)
        {
            <img class="img-responsive"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Content/imagenes/@item.ItemArtUrl" />
            <div class="caption">
                



                    <h5>@Html.ActionLink(item.Titulo, "Details", new { id = item.ItemId })</h5>
                    <p>$@item.Precio</p>




                
            </div>
        }
    </div>
</div>
    </div>

