@{
    ViewBag.Title = "Olvidé mi contraseña de confirmación";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
	<p>
		Por favor revise su correo electrónico para restablecer su contraseña.
	</p>
	<p class="text-danger">
		Solo para DEMO: puede hacer clic en este enlace para restablecer la contraseña: <a href="@ViewBag.Link">link</a>
		Cambie este código para registrar un servicio de correo electrónico en IdentityConfig para enviar un correo electrónico.
	</p>
</div>

