@model IEnumerable<DondeLa_tuty.Models.Category>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
	<div class="card-header">
		<i class="fas fa-table"></i>
		Categorías
		<a href="../Admin/CreateCategory" class="btn btn-info pull-right fa fa-plus">Agregar nueva categoría</a>
	</div>
    <!-- DataTables Example -->
    <div class="card mb-3">
        

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
						<tr>
							<th>ID</th>
							<th>Nombre Categoria</th>
							<th>Accion</th>


						</tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>@item.CategoryId</td>
                            <td>@item.Nombre</td>
                            <td> @Html.ActionLink("Editar Categoria", "EditCategory", new { id = item.CategoryId })</td>
                            <td> @Html.ActionLink("Eliminar Categoria", "DeleteCategory", new { id = item.CategoryId })</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
