@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">Error.</h1>
    <h2 class="text-error">Un error a ocurrido mientras se procesaba tu solicitud</h2>
</hgroup>
