@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<p>
	Lo sentimos, hemos encontrado un error inesperado.
	<a href="javascript:history.go(-1)">Clic aquí</a>
	si desea volver e intentarlo nuevamente.
</p>